---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Profile of Jordan Taylor"
  pubDate={new Date("December 21 2023")}
  heroImage="/jt.jpeg"
>
  <p>
    I'm Jordan(JT), a seasoned Sr Platform Engineer with a passion for
    technology to drive business success. With a robust 10+ years of experience
    in the ever-evolving landscape of Computer Science, I've honed my skills in
    Enterprise Architecture, Cloud Services, Virtualization, Enterprise
    Security, and Networking, consistently delivering tangible results to meet
    and exceed organizational goals.
  </p>

  <p>
    My journey in technology started early, as I grew up immersed in the world
    of computers and IT, thanks to my father's influence. It sparked a lifelong
    passion for learning and tinkering, which has been the cornerstone of my
    career. This inherent curiosity drives me to continuously adapt and swiftly
    embrace emerging technologies, ensuring that I remain at the forefront of
    innovation, with a specific focus on software engineering.
  </p>

  <p>
    In the dynamic realm of software engineering, my passion lies in crafting
    elegant and efficient solutions that not only tackle intricate technical
    challenges but also elevate user experiences to new heights. With a
    laser-like focus on software engineering, I am driven to push the boundaries
    of what's possible in code, constantly seeking innovative ways to streamline
    processes, optimize performance, and deliver software that delights users
    and clients alike.
  </p>

  <p>
    Beyond the digital realm, I find solace in the beauty of nature. I cherish
    spending quality time outdoors with my family, whether it's embarking on
    camping adventures, hiking through scenic landscapes, or simply relishing
    the tranquility of the natural world. This love for the great outdoors not
    only fuels my spirit but also enhances my problem-solving skills by drawing
    inspiration from the harmony and complexity of nature.
  </p>

  <p>
    In the world of technology, I'm dedicated to architecting solutions that
    empower businesses to thrive in a dynamic digital landscape, with a strong
    focus on software engineering excellence. In the world outside of screens, I
    find balance and inspiration in the wonders of the natural world. Join me on
    this journey where technology and nature coalesce to shape a richer, more
    sustainable future.
  </p>

  <p>
    Thank you for visiting my corner of the digital universe. Feel free to
    explore my work and insights, and don't hesitate to reach out if you'd like
    to connect or collaborate.
  </p>

  <p>
    Here's to the limitless possibilities of technology, the boundless wonders
    of the great outdoors, and the artistry of software engineering!
  </p>
</Layout>
